{% extends "base.html" %}
        
{% block prebody %}
<script type="text/javascript">
$(document).ready(function(){
    $('#nav-newreq').addClass('active')
    

    var socket = io.connect('http://' + document.domain + ':' + location.port + '/monitor');
    socket.emit('subscribe',{data: 'taskid'});
        

    $('#drophtml').hide()
    socket.on('pubsubmsg',function(data){
        console.log('got pubsubmsg!')
        console.log(data)
    })

});
</script>

<div id="drophtml">
    <div class="dz-preview dz-file-preview">
        <div class="dz-progress progress">
            <div class="dz-details">
                <span class="dz-success-mark"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
                <span class="dz-error-mark"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
                <span class="dz-size" data-dz-size></span>
                <span class="dz-filename"><span data-dz-name></span></span>
            </div>

            <div class="dz-upload progress-bar" data-dz-uploadprogress></div>
        </div>
    </div>
</div>

<script type="text/javascript">

var uploadguid = undefined;

Dropzone.options.dropzone = {

    // Prevents Dropzone from uploading dropped files immediately
    autoProcessQueue: false,
    previewTemplate: $("#drophtml").html(),
    dictDefaultMessage: '',  
    uploadMultiple: true,
    parallelUploads: 100,
    init: function() {
        var submitButton = document.querySelector("#submit-all")
        myDropzone = this; // closure
        submitButton.addEventListener("click", function() {
            myDropzone.processQueue(); // Tell Dropzone to process all queued files.
        });
        
        myDropzone.on('successmultiple',function(files,response){
            console.log(files)
            console.log(response)
            var requestId = response['requestId']
            console.log('created request: ' + requestId)
            $('#requestId').html(requestId)
            $('#showrequest-btn').click(function(){location.href = location.origin + '/request/' + requestId})            
            $('#themodal').modal()
        });
    }
};
</script>

{% endblock %}

    
{% block container %}
<div class="page-header">
    <h1>New Request <small>create a new recast request</small></h1>
</div>    

<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Drag files onto panel below (or click) to upload a new model</h3>
      </div>
      <div class="panel-body">
        <form action="/upload" method=post enctype=multipart/form-data class="dropzone" id="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit">submit</input>
            </div>
        </form>
      </div>
    </div>

    <button class="btn btn-default" id="submit-all">create request (and model) from event files</button>
</div>         

<div id="themodal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Success!</h4>
      </div>
      <div class="modal-body">
        <p>Created request with id: <span id='requestId'>NaN</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="showrequest-btn">Show Request</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
